In [64]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [65]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - There is no [mac64] chromedriver for browser 88.0.4324 in cache
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/chrisguilcapi/.wdm/drivers/chromedriver/mac64/88.0.4324.96]

In [66]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [67]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [68]:
slide_elem.find("div", class_='content_title')

In [69]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"6 Things to Know About NASA's Mars Helicopter on Its Way to Mars"

In [70]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'Ingenuity, a technology experiment, is preparing to attempt the first powered, controlled flight on the Red Planet.'

### Featured Images

In [129]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [130]:
html = browser.html
news_soup = soup(html, 'html.parser')
#slide_elem = news_soup.select_one('ul.item_list li.slide')

In [131]:
link_rel = news_soup.select_one('ul.item_list li.slide div.list_image img').get('src')

In [133]:
img_url = f'https://mars.nasa.gov/news{link_rel}'
img_url

'https://mars.nasa.gov/news/system/news_items/list_view_images/8840_Mars-Helicopter-Ingenuity-7secs-320.jpg'

In [51]:
#html = browser.html
#full_image_elem = soup(html, 'html.parser')
#browser.find_by_xpath('//*[@id="__layout"]/div/header/div[1]/div[3]/div/nav/div[1]/div[4]/button/span').click()
#more_info_elem = browser.links.find_by_partial_text('Featured')
#more_info_elem.click()

In [58]:
# Parse the resulting html with soup
#html = browser.html
#img_soup = soup(html, 'html.parser')
# Find the relative image url
#img_url_rel = img_soup.select_one('main img').get("src")
#img_url_rel

'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24179.width-1024.jpg'

In [59]:
# Use the base URL to create an absolute URL
#img_url = f'{img_url_rel}'
#img_url

'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24179.width-1024.jpg'

In [60]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [62]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [63]:
browser.quit()